[submodule "submodules/coco-alma"]
	path = submodules/coco-alma
	url = https://github.com/IAIK/coco-alma/
[submodule "submodules/coco-alma_evaluation"]
	path = submodules/coco-alma_evaluation
	url = https://github.com/Lucien98/coco-alma_evaluation
[submodule "submodules/aes-dom"]
	path = submodules/aes-dom
	url = https://github.com/vedadux/aes-dom/
[submodule "submodules/PROLEAD"]
	path = submodules/PROLEAD
	url = https://github.com/ChairImpSec/PROLEAD
[submodule "submodules/prover"]
	path = submodules/prover
	url = https://github.com/Lucien98/prover/
[submodule "submodules/coco-ibex"]
	path = submodules/coco-ibex
	url = https://github.com/noeamiot/coco-ibex
[submodule "submodules/ibex"]
	path = submodules/ibex
	url = https://github.com/noeamiot/ibex
[submodule "submodules/cv32e40p"]
	path = submodules/cv32e40p
	url = https://github.com/noeamiot/cv32e40p
#[submodule "submodules/cortex_m3"]
#	path = submodules/cortex_m3
#	url = git@gitlab.lip6.fr:amiotnoe/cortex-m3
#[submodule "submodules/cortex_m4"]
#	path = submodules/cortex_m4
#	url = git@gitlab.lip6.fr:amiotnoe/cortex-m4
